@import './variables.scss';

.aside-menu {
    width: 35%;
    height: 100vh;
    display: flex;
    border-right: 1px solid grey;

    @media screen and (max-width: 1279px) {
        transition: all .4s;
        width: 10%;
    }

    @media screen and (max-width: 650px) {
        display: none;
    }
}

.navigation {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-top: 20px;

    .icon-twitter {
        color: white;
        font-size: 2em;
        padding-bottom: 1em;
    }

    .navigation-list {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .navigation-list li {
        color: white;
        margin-bottom: 1.3em;
        font-size: 1.2em;
        cursor: pointer;
    }

    .navigation-list li:hover {
        color: 	#00BFFF;
        transition: 0.7s;
    }

    .navigation-list li i {
        padding-right: 20px;
    }

    .navigation-list li:nth-child(5) i {
        padding-right: 24px;
    }

    .navigation-list li:nth-child(7) i {
        padding-right: 24px;
    }

    .navigation-list li:nth-child(8) i {
        padding-right: 24px;
    }

    .btn-tweetar {
        background: $background-buttom;
        padding: 10px 50px;
        border-radius: 20px;
        color: white;
        text-decoration: none;
        text-align: center;
    }

    .btn-tweetar .tela-mobile {
        display: none;
    }

    @media screen and (max-width: 1279px) {
        padding-left: 20px;
        padding-top: 20px;

        .mobile-span {
            display: none;
        }

        .btn-tweetar {
            border-radius: 50px;
            padding: 10px;
        }

        .btn-tweetar .tela-mobile {
            display: block;
        }

        .btn-tweetar .tela-pc {
            display: none;
        }
    }
}