.aside-menu {
  width: 35%;
  height: 100vh;
  display: flex;
  border-right: 1px solid grey;
}
@media screen and (max-width: 1279px) {
  .aside-menu {
    transition: all 0.4s;
    width: 10%;
  }
}
@media screen and (max-width: 650px) {
  .aside-menu {
    display: none;
  }
}

.navigation {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  padding-top: 20px;
}
.navigation .icon-twitter {
  color: white;
  font-size: 2em;
  padding-bottom: 1em;
}
.navigation .navigation-list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.navigation .navigation-list li {
  color: white;
  margin-bottom: 1.3em;
  font-size: 1.2em;
  cursor: pointer;
}
.navigation .navigation-list li:hover {
  color: #00BFFF;
  transition: 0.7s;
}
.navigation .navigation-list li i {
  padding-right: 20px;
}
.navigation .navigation-list li:nth-child(5) i {
  padding-right: 24px;
}
.navigation .navigation-list li:nth-child(7) i {
  padding-right: 24px;
}
.navigation .navigation-list li:nth-child(8) i {
  padding-right: 24px;
}
.navigation .btn-tweetar {
  background: #1da1f2;
  padding: 10px 50px;
  border-radius: 20px;
  color: white;
  text-decoration: none;
  text-align: center;
}
.navigation .btn-tweetar .tela-mobile {
  display: none;
}
@media screen and (max-width: 1279px) {
  .navigation {
    padding-left: 20px;
    padding-top: 20px;
  }
  .navigation .mobile-span {
    display: none;
  }
  .navigation .btn-tweetar {
    border-radius: 50px;
    padding: 10px;
  }
  .navigation .btn-tweetar .tela-mobile {
    display: block;
  }
  .navigation .btn-tweetar .tela-pc {
    display: none;
  }
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  background: #15202b;
}

#principal-page {
  display: flex;
  justify-content: space-between;
}

.foto-tweet {
  width: 50px;
  border-radius: 50%;
  margin-left: 1em;
  margin-top: 1em;
}

.aside-menu-right {
  width: 40%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 1px solid grey;
}
@media screen and (max-width: 1038px) {
  .aside-menu-right {
    display: none;
  }
}

.campo-busca {
  margin-top: 10px;
}
.campo-busca .input-pesquisa {
  width: 300px;
  padding: 10px;
  border-radius: 20px;
  background: transparent;
  border: 1px solid grey;
  color: white;
  outline: 0;
}

.noticias-diarias {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 90%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  color: white;
}
.noticias-diarias .title {
  font-weight: bold;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid grey;
}
.noticias-diarias .noticia {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  border-bottom: 1px solid grey;
}
.noticias-diarias .noticia p {
  color: grey;
}
.noticias-diarias .noticia p:nth-child(1) {
  padding-bottom: 10px;
}
.noticias-diarias .noticia p:nth-child(3) {
  padding-top: 10px;
}
.noticias-diarias .noticia:last-child {
  color: #00BFFF;
  text-align: center;
  border: none;
  cursor: pointer;
}

.menu-bottom {
  display: none;
}
@media screen and (max-width: 650px) {
  .menu-bottom {
    display: block;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 10px;
    border-top: 1px solid grey;
    margin-top: 3em;
  }
}

.menu-list-bottom {
  color: white;
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.main-container {
  width: 60%;
}
@media screen and (max-width: 1038px) {
  .main-container {
    width: 90%;
  }
}

.topo-main {
  padding: 20px;
  color: white;
  border-bottom: 1px solid grey;
  font-size: 0.6em;
  display: flex;
  justify-content: space-between;
}
.topo-main i {
  font-size: 2.5em;
}

.escrever-tweet {
  display: flex;
  align-items: center;
  padding-bottom: 1em;
  border-bottom: 3px solid grey;
  width: 100%;
}
.escrever-tweet .foto-user {
  margin-left: 1em;
  width: 50px;
  border-radius: 50%;
  margin-bottom: 2em;
}
@media screen and (max-width: 650px) {
  .escrever-tweet {
    display: none;
  }
}

.tweetar .input-tweetar {
  outline: 0;
  background: transparent;
  border: none;
  width: 500px;
  padding: 25px;
  color: white;
}
.tweetar p {
  color: #1da1f2;
  margin-left: 20px;
  font-size: 0.9em;
  font-weight: bold;
  font-size: 1em;
}
.tweetar i {
  margin-right: 5px;
}

.buttom-menu {
  display: flex;
  justify-content: space-between;
}
.buttom-menu .list-tweet {
  list-style: none;
  align-items: center;
  padding: 0;
  display: flex;
  margin-left: 20px;
  margin-top: 10px;
}
.buttom-menu .list-tweet li {
  color: #1da1f2;
  padding-right: 10px;
  font-size: 1.1em;
}
.buttom-menu .btn-enviar {
  background: #1da1f2;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  outline: 0;
  cursor: pointer;
  margin-right: 10px;
}

.div-tweet {
  display: flex;
  padding-bottom: 10px;
  border-bottom: 3px solid grey;
}
.div-tweet .div-postagem {
  margin-left: 1em;
  margin-top: 1em;
  color: white;
}
.div-tweet p:nth-child(1) {
  font-weight: bold;
}
.div-tweet p:nth-child(2) {
  margin-left: 1em;
  color: grey;
}
.div-tweet .info-post {
  display: flex;
}
.div-tweet .postagem {
  margin-top: 6px;
}
.div-tweet .select-post {
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
}
.div-tweet .select-post i:hover {
  transition: 0.3s;
  color: #1da1f2;
}

.div-tweet:hover {
  transition: 1s;
  background: rgba(220, 220, 220, 0.1);
}

/*# sourceMappingURL=main.css.map */
